.staff-dashboard-home{
    /* border:2px solid rgb(152, 227, 13); */
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.staff-dashboard-overview-cards{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10em;
    width: 65em;
}
.staff-overview-card{
    /* border: 2px solid black; */
    width: 14em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 2px 1px 1px 2px #113548;
}

.staff-card-post{
    font-size: .7em;
}

.staff-dashboard-graphs-charts{
    /* border: 2px solid brown; */
    height: 40em;
    width: 65em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.staff-dashboard-line-chart{
    /* border: 2px solid pink; */
    height: 20em;
    width:60em;
    margin: auto;
}


.staff-dashboard-lower-charts{
    /* border:2px solid green; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 15em;

}
.staff-dashboard-piechart{
    /* border: 2px solid rgb(223, 10, 10); */
    width:30em;
    height: 14em;
}
.staff-dashboard-barchart{
    /* border:2px solid rgb(23, 5, 124); */
    width:30em;
    height: 14em;
}

.staff-dashboard-quick-links{
    /* border: 2px solid rgb(13, 14, 13); */
    height: 5em;
    width: 60em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-dashboard-quick-links h3{
    color: rgb(143, 65, 143);
}

.staff-dashboard-quick-links button{
    color: white;
    background-color: #113548;
    box-shadow: 3px 2px 2px 1px black;
    transition: all .5s ease-in 0s;
}
.staff-dashboard-quick-links button a{
    color : white;
    text-decoration: none ;
}

.staff-dashboard-quick-links button:hover{
    transform:scale(1.07);
}