/* .staff-list{
    box-sizing: border-box;
    height: 60em;
    width: 70em;
    display: grid;
    grid-template-rows: 10em 10em 10em 10em 10em 10em;
    grid-template-columns: 23em 23em 23em;
    row-gap: 2em;
    padding: 1em;
}
.staff-card{
    background-color: #113548;
    width: 20em;
    height: 10em;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2em;
    box-shadow:3px 4px 3px 3px black,-3px -4px 3px 1px black;
}
.delete-icon{
    width: 14em;
    display: flex;
    justify-content: flex-end;
}
.staff-button{
    background-color: #113548;
    height: 3em;
    width: 10em;
    border-radius : 4px;
    box-shadow: 3px 2px 2px 1px black;
    transition: all .5s ease-in 0s;
}
.staff-button:hover{
    transform:scale(1.1);
}
.staff-button a{
    text-decoration: none;
    color: white;
} */



.table-container {
    box-sizing: border-box;
    max-width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60em;
    overflow: hidden;
    padding: 1em;
    /* border: 2px solid red;   */
  }

  .table-scroll-wrapper {
    width: 90%;
    height: 60em; /* or any value you prefer */
    overflow-y: auto; /* Enable vertical scroll */
    padding-right: 10px; /* for scrollbar spacing */

    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  .table-scroll-wrapper::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }
  
  .table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .staff-table {
    width: 90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .staff-table th,
  .staff-table td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
    vertical-align: top;
  }
  
  .staff-table th {
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .staff-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .staff-table ul {
    margin: 0;
    padding-left: 20px;
  }
  
  .staff-table li {
    margin-bottom: 4px;
    list-style-type: none;
  }
  
  .staff-button{
    background-color: #113548;
    height: 3em;
    width: 10em;
    border-radius : 4px;
    box-shadow: 3px 2px 2px 1px black;
    transition: all .5s ease-in 0s;
}
.staff-button:hover{
    transform:scale(1.1);
}
.staff-button a{
    text-decoration: none;
    color: white;
}
.button{
    height : 4em;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}